.icons-enter {
   opacity: 0.01;
}
.icons-enter.icons-enter-active {
   opacity: 1;
   transition: opacity 500ms ease-in;
}
.icons-leave {
   opacity: 1;
}
.icons-leave.icons-leave-active {
   opacity: 0.01;
   transition: opacity 500ms ease-in;
}
